<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header-first">
        <img src="./images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        <div class="header-search-bar">
          <input type="text" />
          <i class="fas fa-search"></i>
        </div>
        <p class="header-compra-cuotas">
          <i class="fas fa-money-check-alt"></i>Compra en cuotas y sn tarjeta de
          credito
        </p>
      </div>
      <nav>
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register">Crea tu cuenta<i class="fas fa-user"></i></a>
          </li>
          <li>
            <a href="/login">Ingresar<i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis Compras<i class="fas fa-shopping-cart"></i></a>
          </li>
        </ul>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
    </header>

    <main>
      <h1>Registarse</h1>
      <form action="/login" method="POST">
        <div class="main-form-nombre">
          <input type="text" name="nombre" placeholder="Nombre y Apellidos" />
        </div>
        <div class="main-form-usuario">
          <input type="text" name="usuario" placeholder="Nombre de Usuario" />
        </div>
        <div class="main-form-email">
          <input type="email" name="email" placeholder="Correo Electronico" />
        </div>
        <div class="main-form-password">
          <input type="password" name="clave" placeholder="Contraseña" />
        </div>
        <!-- <div class="main-form-perfil"> -->
        <h3>Perfil de Usuario</h3>
        <label>Comprador</label>
        <input type="radio" name="perfil" value="Comprador" />
        <label for="perfil">Vendedor</label>
        <input type="radio" name="perfil" value="Vendedor" checked />
        <!-- </div> -->
        <h3>Intereses</h3>
        <label for="intereses">Electro</label>
        <input type="checkbox" name="intereses" value="Electro" />
        <label for="intereses">Moda</label>
        <input type="checkbox" name="intereses" value="Moda" />
        <label for="intereses">Juegos</label>
        <input type="checkbox" name="intereses" value="Juegos" />

        <div class="main-form-button">
          <button type="submit">Registrarse</button>
        </div>
      </form>
    </main>

    <footer>
      <section>
        <div class="footer-logos">
          <i class="far fa-credit-card"></i>
        </div>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </section>
      <section>
        <div class="footer-logos">
          <i class="fas fa-gift"></i>
        </div>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </section>
      <section>
        <div class="footer-logos">
          <i class="fas fa-user-shield"></i>
        </div>
        <h2>Seguridad, de principio a fin</h2>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </section>
      <section class="footer-copyright">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>
